/* perfil */
body.perfil {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 40px;
    display: flex;
    justify-content: center;
}

.contenedor {
    display: flex;
    width: 800px;
    background-color: #f5f5f5;
}

.contenedor-foto {
    width: 230px;
}

.contenedor-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 70px;
}

.info-contenedor {
    margin-left: 10px;
    background-color: white;
    padding: 20px;
    border: 1px solid #000000;
    box-shadow: 5px 5px 0px 1px #808080;
    flex: 1;
}

.nombre {
    font-size: 26px;
    color: orange;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.bio {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 14px;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.5;
}

.preferencias {
    font-family: Georgia, serif;
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px 10px;
    font-size: 15px;
}

.contacto {
    font-family: Georgia, serif;
    font-size: 14px;
    margin-top: 15px;
}

.contacto a:link {
    color: orange;
    text-decoration: none;
}

.contacto a:visited {
    color: red !important;
}

/* index */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body.index {
    font-family: Arial, sans-serif;
    background-color: white;
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
  }

  header {
    background-color: #87b1ef;
    border-bottom: 2px solid #ccc;     
  }

  nav {
      background-color: #87b1ef;
      border-bottom: 2px solid #ccc;
  }

  .nav-lista {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      height: 40px;
      color: white;
      list-style: none;
      margin: 0;
      padding: 0;
  }

  .nav-sec {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid white;
  }
      
  form {
      display: flex;
      align-items: center;
      gap: 5px;
  }

  .titulo {
      font-size: 26px;
      font-weight: semi-bold;
  }

  .titulo span {
      font-size: 15px;
      font-weight: normal; 
  }

  .texto-centro {
      font-size: 14px;
  }


  input[type="text"] {
      padding: 4px;
      border: none;
      font-size: 14px;
  }

  input[type="submit"] {
      background-color: #f5f7f9;
      color: #87b1ef;
      border: none;
      padding: 4px 8px;
      font-size: 14px;
      cursor: pointer;
      margin-left: 5px;
  }

  section {
      padding: 20px;
  }

  .estudiantes {
      display: grid;
      grid-template-columns: repeat(4, 150px);
      gap: 70px; 
      justify-content: center;
      row-gap: 20px; 
  }

  .estudiantes li {
      list-style: none;
      text-align: center;
      background-color: #f5f7f9;
      padding: 15px;
      width: 200px;
      height: 200px;
      box-shadow: 1px 1px 0px 1px #6965655b;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .estudiantes img {
      width: 60%;
      height: 100%;
      object-fit: fill;
      border: none;
  }

  .estudiantes p {
      margin-top: 10px;
      font-size: 14px;
      color: #7eadde;
  }

  .estudiantes li:hover {
    animation: rotar 0.5s ease-in-out forwards;
    background: #99c5dd;
    box-shadow: 1px 1px 0px 1px #6965655b;
}  

  footer {
      background-color: #87b1ef;
      text-align: center;
      padding: 10px;
      font-size: 12px;
      margin-top: auto; 
      border-top: 2px solid #ccc;      
  }

@keyframes rotar {
    0% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(9deg) scale(1.05);
    }
}  